.callback {
  width: 100%;

  color: #ffffff;
  background: #00B2FF url('../img/callback-figure.svg') no-repeat 100% -1px;

  padding: 91px 30px 102px;

  @include tablet {
    background: #00B2FF;

    padding: 80px 87px 94px 88px;
  }

  @include mobile {
    padding: 30px 15px 27px;
  }
}

.callback__wrapper {
  width: 100%;
  max-width: 1220px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  //padding: 0 100px;
  margin: 0 auto 0;

  @include tablet {
    width: 100%;
    max-width: none;

    margin: 0;
    padding: 0;
  }
}

.callback__wrapper picture {
  padding: 0 0 45px 0;

  @include tablet {
    display: none;
  }
}

.callback__wrapper img {
  width: 100%;
  height: auto;

  object-fit: contain;
}

.callback__wrapper-content {
  background: #00B2FF;

  padding: 0 28px 0 20px;

  @include tablet {
    padding: 0;
  }
}

.callback__wrapper-content h2 {
  width: 570px;

  font-size: 36px;
  line-height: 51px;

  margin: 0 0 9px auto;

  @include tablet {
    font-size: 32px;
    line-height: 45px;

    margin: 0 0 16px;
  }

  @include mobile {
    width: 100%;

    font-size: 28px;
    line-height: 39px;

    margin: 0 0 13.5px;
  }
}

.callback__wrapper-content p {
  width: 570px;

  font-family: "PTMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21.5px;
  font-weight: 400;

  padding: 0 0 0 4px;
  margin: 0 0 51px auto;

  @include tablet {
    padding: 0 0 0 5px;
    margin: 0 0 54px;
  }

  @include mobile {
    width: 100%;

    padding: 0;
    margin: 0 0 26px;
  }
}

.callback__wrapper-content form {
  width: 100%;
  max-width: 570px;

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  padding: 0 0 0 4px;
  margin: 0 0 0 auto;

  @include tablet {
    max-width: none;

    padding: 0 0 0 5px;
    margin: 0;
  }

  @include mobile {
    padding: 0;
  }
}

.callback__wrapper-content label {
  width: 270px;
  height: 50px;

  margin: 0 0 40px;

  @include tablet {
    width: 47.4%;
    height: 51.83px;

    margin: 0 0 42px;
  }

  @include mobile {
    width: 100%;

    margin: 0 0 30px;
  }
}

.callback__wrapper-content input {
  width: 100%;
  height: 50px;

  border: none;

  color: #ffffff;
  background: #{'hsla(0 0% 100% / 10%)'};

  padding: 0 17px;

  @include tablet {
    height: 51.83px;

    font-family: "PTMono", "Arial", sans-serif;

    padding: 9px 16px 14px 16.5px;
  }

  @include mobile {
    margin: 0 0 30px;
  }

  &:hover {
    box-shadow: 0 0 10px 5px currentColor;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 22px;

    color: #ffffff;
  }
}

.callback__wrapper-content textarea {
  width: 100%;
  height: auto;
  min-height: 154px;

  font-size: 16px;
  line-height: 21.5px;

  border: none;

  color: #ffffff;
  background: #{'hsla(0 0% 100% / 10%)'};

  padding: 12px 17px;
  margin: 0 0 43px;

  resize: none;

  @include tablet {
    height: 159px;

    margin: 0 0 45px;
  }

  @include mobile {
    height: 104px;
    min-height: 104px;

    margin: 0 0 31px;
  }

  &:hover {
    box-shadow: 0 0 10px 5px currentColor;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 16px;
    line-height: 21.5px;

    color: #ffffff;
  }
}

.callback__button-wrapper {
  width: 270px;
  height: 46.5px;

  display: inherit;

  margin: 0;

  @include tablet {
    width: 280px;
  }

  @include mobile {
    width: 100%;

    margin: 0 0 29px;
  }
}

.callback__button-wrapper button {
  width: 100%;

  font-family: inherit;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;

  display: block;

  border: 1px solid #ffffff;
  border-radius: 5px;

  color: #ffffff;
  background: transparent;

  padding: 0;

  cursor: pointer;

  &:hover {
    box-shadow: 0 0 10px 5px currentColor;
  }
}

.callback__checkbox-wrapper {
  width: 262px;
  //width: 100%;

  display: flex;

  padding: 7px 0 0;

  @include tablet {
    width: 271px;
  }

  @include mobile {
    padding: 0;
  }
}

.callback__checkbox-wrapper label {
  width: 100%;

  padding: 0 0 0 34px;
  margin: 0;

  @include tablet {
    padding: 0 0 0 33px;
  }
}

.callback__checkbox-wrapper input {
  width: 16px;
  height: 16px;

  position: absolute;
  background: transparent;

  margin: 0;

  appearance: none;

  &:hover {
    box-shadow: none;
  }
}

.callback__checkbox-wrapper input:focus {
  outline: none;
}

.callback__checkbox-wrapper span {
  height: 100%;

  font-family: "PTMono", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  display: block;

  position: relative;

  opacity: 80%;

  &::before {
    content: '';

    width: 16px;
    height: 16px;

    position: absolute;
    top: 2px;
    left: -33.5px;

    border: 1px solid #ffffff;

    cursor: pointer;

    @include tablet {
      left: -33px;
    }
  }

  &::after {
    content: '';

    width: 7.5px;
    height: 4.5px;

    display: none;

    position: absolute;
    top: 7px;
    left: -29px;

    background: transparent url('../img/checkbox-checked.svg');

    margin: auto;

    cursor: pointer;
  }
}

.callback__checkbox-wrapper input:checked + span::after {
  display: block;
}

.callback__checkbox-wrapper input:focus + span::before {
  outline: 2px solid deeppink;

}
