.company {
  width: 100%;
  max-width: 1230px;

  padding: 112px 30px 111px;
  margin: 0 auto;

  @include tablet {
    padding: 54px 24px 83px;
  }

  @include mobile {
    padding: 36px 10px 66px;
  }
}

.company ul {
  width: 100%;

  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;

  position: relative;

  background: white;

  padding: 0;
  margin: 0 0 105px;

  @include tablet {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 306px 232px;
    gap: 30px 28px;

    margin: 0 0 55px;
  }

  @include mobile {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 310px 310px 232px 244px;
    gap: 20px 0;

    padding: 0 0 0 3px;
    margin: 0 0 58px;
  }
}

.company li {
  width: 100%;
  min-height: 299px;

  position: relative;

  border: 1px solid #EBEBEB;

  padding: 40px 25px 49px 43px;

  &::before {
    content: '';

    width: 2px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: #00B2FF;
  }

  @include tablet {
    width: 100%;
    height: auto;
    min-height: 232px;

    padding: 24px 18px 49px 27px;
  }

  @include mobile {
    padding: 25px 9px 49px 27px;
  }
}

.company li:nth-child(3n + 2) {
  @include mobile {
    padding: 25px 8px 49px 27px;
  }
}

.company li:nth-child(3n + 3) {
  padding: 46px 45px 49px 44px;

  @include tablet {
    padding: 24px 27px 49px;
  }
}

.company svg {
  margin: 0 0 15px;

  @include tablet {
    margin: 0 0 3px;
  }

  @include mobile {
    margin: 0 0 9px;
  }
}

.company li:nth-child(4n + 1) svg {
  width: 29px;
  height: 35px;

  @include tablet {
    width: 31px;
    height: 35px;
  }
}

.company li:nth-child(4n + 2) svg {
  width: 35px;
  height: 35px;

  @include tablet {
    width: 32px;
    height: 31px;

    margin: 0 0 7px;
  }

  @include mobile {
    margin: 0 0 9px;
  }
}

.company li:nth-child(4n + 3) svg {
  width: 35px;
  height: 29px;

  @include tablet {
    width: 31px;
    height: 30px;

    margin: 0 0 5px;
  }
}

.company li:nth-child(4n +4) svg {
  width: 35px;
  height: 35px;

  @include tablet {
    width: 34px;
    height: 31px;

    margin: 0 0 7px;
  }

  @include mobile {
    margin: 0 0 9px;
  }
}

.company p {
  font-size: 24px;
  line-height: 33.75px;

  color: #00B2FF;

  margin: 0 0 18px;

  @include tablet {
    margin: 0 0 10px;
  }

  @include mobile {
    font-size: 20px;
    line-height: 28.13px;
  }
}

.company li:nth-child(4n + 1) p {
  @include tablet {
    margin: 0 0 10px;
  }
}

.company li:nth-child(4n + 3) p {
  @include tablet {
    margin: 0 0 16px;
  }
}

.company li:nth-child(4n + 4) p {
  @include tablet {
    margin: 0 0 8px;
  }

  @include mobile {
    margin: 0 0 18px;
  }
}

.company span {
  font-family: "PTMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21.5px;
  font-weight: 400;

  color: #666666;

  margin: 0;
}

.company__about {
  display: flex;

  position: relative;

  padding: 0 0 0 180px;

  color: #666666;

  @include tablet {
    padding: 0 0 0 186px;
  }
  @include mobile {
    padding: 0 0 0 4px;
  }
}

.company__about img {
  width: 220px;
  height: 317px;

  position: absolute;
  top: 5px;
  left: -30px;

  @include tablet {
    width: 251.08px;
    height: 361.79px;

    top: -1px;
    left: -27px;
  }

  @include mobile {
    display: none;
  }
}

.company__about-main {
  width: 100%;
}

.company__about-main h2 {
  font-size: 36px;
  line-height: 50.63px;

  margin: 0 0 20px;

  @include tablet {
    font-size: 32px;
    line-height: 45px;

    margin: 0 0 26px;
  }

  @include mobile {
    font-size: 28px;
    line-height: 39.38px;

    margin: 0 0 20px;
  }
}



.company__about-main p {
  width: 100%;

  font-family: "PTMono", "Arial", sans-serif;
  font-size: 15px;
  line-height: 22px;

  display: none;

  font-weight: 400;

  color: inherit;

  margin: 0 0 41px;

  @include tablet {
    width: 94%;

    display: inherit;

    padding: 0 0 0 3px;
    margin: 0 0 19px;
  }

  @include mobile {
    margin: 0 0 41px;
  }
}

.company__about-main p + p {
  margin: 0 0 29px;

  @include tablet {
    margin: 0 0 42px;
  }

  @include mobile {
    margin: 0 0 27px;
  }
}

.company__about-main-desktop-text p {
  display: block;

  margin: 0 0 22px;

  @include tablet {
    display: none;
  }
}

.company__about-main-desktop-text p + p {
  display: block;

  margin: 0 0 38px;

  @include tablet {
    display: none;
  }
}

.company__about-main a {
  width: 180px;
  height: 45px;

  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  letter-spacing: 5%;
  text-transform: uppercase;
  text-align: center;

  display: block;

  color: #00B2FF;

  border: 1px solid #00B2FF;
  border-radius: 5px;

  padding: 14px 0 8px;
  margin: 0;

  &:hover {
    box-shadow: 0 0 10px 5px currentColor;
  }

  @include tablet {
    margin: 0 0 0 3px;
  }
}

.company li:hover,
.company li:hover p,
.company li:hover span,
.company li:hover path {
  color: #ffffff;
  fill: #ffffff;
  background: #00B2FF;
}
