.footer {
  width: 100%;
  height: auto;

  position: relative;

  background: #FAFAFA;

  &::before {
    content: '';

    width: 100%;
    height: 1px;

    position: absolute;
    bottom: 19%;
    left: 0;

    background: #626962;
  }

  @include tablet {
    &::before {
      content: '';

      width: 100%;
      height: 1px;

      position: absolute;
      top: 387px;
      left: 0;

      background: #626962;
    }

    &::after {
      content: '';

      width: 100%;
      height: 1px;

      position: absolute;
      top: 96px;
      left: 0;

      background: #626962;
    }
  }

  @include mobile {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.footer__wrapper {
  width: 100%;
  max-width: 1476px;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 40.5% 1fr;
  grid-template-rows: 1fr;
  gap: 73px 0;

  position: relative;

  color: #1B2D37;

  padding: 64px 30px 14px;
  margin: 0 auto;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    gap: 0;

    padding: 20px 24px 24px 25px;
  }

  @include mobile {
    grid-template-columns: 1fr;

    padding: 46px 0 0;
  }
}

.footer__social {
  display: flex;
  flex-flow: column;

  @include tablet {
    width: 100%;

    grid-column: 1 / -1;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;

    margin: 0 0 63px;
  }

  @include mobile {
    margin: 0 0 50px;
  }
}

.footer__social > svg {
  width: 216px;
  height: 52px;

  margin: 0 0 53px;

  @include tablet {
    margin: 0;
  }

  @include mobile {
    margin: 0 auto 26px;
  }
}

.footer__social span {
  display: none;

  @include tablet {
    font-family: "PTMono", "Arial", sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;

    text-transform: uppercase;

    display: inherit;

    opacity: 50%;
  }

  @include mobile {
    width: 100%;

    text-align: center;

    display: block;

    margin: 0 auto 31px;
  }
}

.footer__social-network {
  width: 112px;

  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;

  @include mobile {
    margin: 0 auto;
  }
}

.footer__social-network svg {
  width: 27px;
  height: 27px;

  &:hover {
    box-shadow: 0 0 10px 5px currentColor;

    border-radius: 50%;
  }
}

.footer__sections {
  display: flex;
  flex-flow: row wrap;

  position: relative;

  color: #1B2D37;

  @include tablet {
    width: 243px;
  }

  @include mobile {
    width: 100%;

    grid-column: 1 / -1;

    border-top: 1px solid #626962;;
    border-bottom: 1px solid #626962;
  }
}

.footer__sections button {
  width: 100%;

  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: start;
  letter-spacing: 0.06em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;

  border: none;

  padding: 0 0 0 1.5px;
  margin: 0 0 24px;

  @include tablet {
    letter-spacing: .06em;

    margin: 0 0 25px;
  }

  @include mobile {
    padding: 29px 15px 28px;
    margin: 0;
  }
}

.footer__sections-list {
  width: 84%;
  //height: 100px;

  font-family: "PTMono", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  list-style: none;

  display: grid;
  //flex-flow: column wrap;
  grid-template-columns: 1fr 1fr;
  gap: 0 74px;

  padding: 0;
  margin: 0;

  opacity: 50%;

  @include tablet {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row wrap;
  }

  @include mobile {
    width: 100%;

    padding: 0 15px;
  }
}

.footer__sections-list li {
  width: max-content;

  @include tablet {
    width: 100%;

    margin: 0;
  }
}

.footer__sections-list li:first-child {
  @include tablet {
    order: 0;
  }
}

.footer__sections-list li:nth-child(2) {
  @include tablet {
    order: 4;
  }
}

.footer__sections-list li:nth-child(3) {
  @include tablet {
    order: 1;
  }
}

.footer__sections-list li:nth-child(4) {
  @include tablet {
    order: 5;
  }
}

.footer__sections-list li:nth-child(5) {
  @include tablet {
    order: 2;
  }
}

.footer__sections-list li:nth-child(6) {
  @include tablet {
    order: 6;
  }
}

.footer__sections-list li:nth-child(7) {
  @include tablet {
    order: 3;
  }
}

.footer__sections-list--hide {
  display: none;
}

.footer__sections a {
  display: block;

  color: #1B2D37;

  &:hover {
    color: deepskyblue;
  }
}

.footer__our-office {
  display: flex;
  flex-flow: row wrap;

  padding: 0 0 0 20%;

  @include tablet {
    width: 345px;

    flex-flow: column;

    padding: 0 0 0 4%;
  }

  @include mobile {
    width: 100%;

    border-bottom: 1px solid #626962;

    padding: 0;
  }
}

.footer__our-office button {
  width: 100%;

  font-size: 15px;
  line-height: 16px;
  letter-spacing: 5%;
  text-transform: uppercase;
  text-align: start;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: transparent;

  border: none;

  padding: 0;
  margin: 0 0 25px;

  @include tablet {
    height: max-content;

    letter-spacing: .08em;

    padding: 0 0 0 2px;
    margin: 0 0 25px;
  }

  @include mobile {
    height: auto;

    padding: 27px 15px 27px;
    margin: 0;
  }
}

.footer__sections-svg-plus,
.footer__sections-svg-minus,
.footer__our-office-svg-plus,
.footer__our-office-svg-minus {
  display: none;

  @include mobile {
    display: inherit;
  }
}

.footer__sections-svg-plus,
.footer__our-office-svg-plus {
  display: none;
}

.footer__sections-svg-plus--show,
.footer__sections-svg-minus--show,
.footer__our-office-svg-plus--show,
.footer__our-office-svg-minus--show {
  display: none;

  @include tablet {
    display: block;

    margin: 0 0 0 auto;
  }
}

.footer__sections-svg-plus--hide,
.footer__sections-svg-minus--hide,
.footer__our-office-svg-plus--hide,
.footer__our-office-svg-minus--hide {
  display: none;
}

.footer__our-office-list {
  font-family: "PTMono", "Arial", sans-serif;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  list-style: none;

  padding: 0;
  margin: 0;

  opacity: 50%;

  @include mobile {
    width: 100%;

    padding: 0 15px;
  }
}

.footer__our-office-list--hide {
  display: none;
}

.footer__our-office a {
  color: #1B2D37;

  &:hover {
    color: deepskyblue
  }
}

.footer__copyright {
  width: 100%;
  height: max-content;

  font-family: "PTMono", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  list-style: none;
  letter-spacing: 0.04em;

  grid-column: 1 / -1;

  display: flex;
  flex-flow: row wrap;

  //margin: 73px 0 0;

  opacity: 50%;

  @include tablet {
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 4%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    margin: 58px 0 0;
  }

  @include mobile {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

    margin: 27px auto 0;
  }
}

.footer__copyright-rights {
  margin: 0 4.7% 0 0;

  @include tablet {
    display: none;
  }
}

.footer__copyright-period {
  margin: 0 9.7% 0 0;

  @include tablet {
    display: none;
  }
}

.footer__copyright-privacy {
  margin: 0 auto 0 0;
}

.footer__copyright-tablet {
  @include tablet {
    display: none;
  }
}

.footer__copyright span {
  @include mobile {
    margin: 0 0 21px;
  }
}
