.header {
  color: white;
  background: url('../img/printed-circuit-board-desktop.png') no-repeat 85.6% 259px, #1B2D37 url('../img/header-background-desktop.png') no-repeat 0 -59px;

  @include retina {
    background: url('../img/printed-circuit-board-desktop.png') no-repeat 85.6% 259px, #1B2D37 url('../img/header-background-desktop@2x.png') no-repeat 0 -59px;
  }

  @include tablet {
    background: url('../img/printed-circuit-board-tablet.png') no-repeat 100% 113px, url('../img/header-background-tablet.png') no-repeat 0 -6px / cover;

    @include retina {
      background: url('../img/printed-circuit-board-tablet@2x.png') no-repeat 100% 113px, url('../img/header-background-tablet@2x.png') no-repeat 0 -6px / cover;
    }
  }

  @include mobile {
    background: url('../img/printed-circuit-board-mobile.png') no-repeat 100% 91px, url('../img/header-background-mobile.png') no-repeat 0 0 / cover;

    @include retina {
      background: url('../img/printed-circuit-board-mobile.png') no-repeat 100% 91px, url('../img/header-background-mobile@2x.png') no-repeat 0 0 / cover;
    }
  }
}

.header__wrapper {
  width: 100%;
  max-width: 1920px;

  padding: 33px 0 274px;

  margin: 0 auto;
  box-sizing: border-box;

  @include tablet {
    padding: 20px 25px 163px;
  }

  @include mobile {
    min-height: 647px;

    padding: 17px 17px 70px 13px;
  }
}

.header__info {
  width: 100%;
  max-width: 1410px;

  display: flex;
  align-items: center;

  padding: 0;
  margin: 0 auto 174px;

  @include tablet {
    width: 100%;

    margin: 0 0 117px;
  }

  @include mobile {
    margin: 0 0 262px;
  }
}

.header__logo-svg{
  width: 202px;
  height: 52px;

  padding: 0;
  margin: 0 auto 0 0;

  @include mobile {
    display: none;
  }
}

.header__logo-svg-mobile {
  display: none;

  @include mobile {
    display: inherit;
    width: 38px;
    height: 38px;

    padding: 0 0 0 4px;
    margin: 0 auto 0 0;
  }
}

.header__info-contacts {
  width: 67%;

  font-family: "PTMono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 17.92px;

  display: flex;
  justify-content: flex-end;

  margin: 0;

  @include tablet {
    width: 60px;
  }
}

.header__info-email {
  width: 135px;
  display: flex;
  justify-content: space-between;

  margin: 0 88px 0 0;

  @include tablet {
    width: max-content;
    margin: 0 34px 0 0
  }

  @include mobile {
    margin: 0 23.33px 0 0
  }

  &:hover {
    color: deepskyblue
  }
}

.header__info-email svg {
  width: 19px;
  height: 14px;

  margin: 0;

  @include tablet {
    width: 25.33px;
    height: 18.67px;
  }
}

.header__info-email:hover path {
  fill: #ffffff;
}

.header__info-email span {
  @include tablet {
    display: none;
  }
}

.header__info-phone {
  width: 216px;

  display: flex;
  justify-content: space-between;

  margin: 0;

  &:hover {
    color: deepskyblue;
  }

  @include tablet {
    width: max-content;
  }
}

.header__info-phone svg {
  width: 18px;
  height: 18px;

  margin: 0 16px 0 0;

  @include tablet {
    width: 22.54px;
    height: 22.61px;

    margin: 0;
  }
}

.header__info-phone:hover path {
  fill: #ffffff;
}

.header__info-phone span {
  @include tablet {
    display: none;
  }
}

.header__info > a {
  min-width: 180px;
  min-height: 45px;

  font-family: "RobotoCondensed", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid  #ffffff;
  border-radius: 5px;

  padding: 12px 0 8px;
  margin:  0 0 0 42px;
  box-sizing: border-box;

  @include tablet {
    display: none;
  }

  &:hover {
    box-shadow: 0 0 10px 5px currentColor;
  }
}

.header__main {
  width: 100%;

  display: flex;

  @include tablet {
    margin: 0 0 0 8.8%;
  }

  @include mobile {
    flex-flow: column-reverse;

    margin: 0;
  }
}

.header__main-info {
  width: 39.4%;

  padding: 57px 0 0 249px;
  margin: 0 1.7% 0 0;

  @include tablet {
    width: 100%;

    padding: 0;
    margin: 0;
  }

  @include mobile {
    width: 100%;

    padding: 0 0 0 2px;
    margin: -30px auto 0 0;
  }
}

.header__main-info h1 {
  font-size: 80px;
  line-height: 93.75px;
  font-weight: 700;
  letter-spacing: .07em;
  text-transform: uppercase;

  display: block;

  margin: 0 0 27px;

  @include tablet {
    width: 74%;

    font-size: 60px;
    line-height: 70.31px;
  }

  @include mobile {
    font-size: 40px;
    line-height: 46.88px;

    margin: 0 0 25px;
  }
}

.header__main-info p {
  font-family: "PTMono", "Arial", sans-serif;
  font-size: 22px;
  line-height: 34.5px;
  font-weight: 400;

  position: relative;

  padding: 0 0 0 98px;
  margin: 0 0 43px;

  &::before {
    content: '';

    width: 66px;
    height: 2px;

    position: absolute;
    top: 16px;
    left: 4px;

    background: white;
  }

  @include tablet {
    width: 48%;

    font-size: 18px;
    line-height: 28.22px;

    padding: 0 0 0 51px;
    margin: 0 0 56px;

    &::before {
      width: 33px;

      left: 3px;
    }
  }

  @include mobile {
    width: 100%;

    font-size: 16px;
    line-height: 25.09px;

    margin: 0 0 41px;

    &::before {
      width: 33px;

      top: 17px;
      left: 3px;
    }
  }
}

.header__main-info-button {
  width: 407px;
  height: 55px;

  font-size: 16px;
  line-height: 18.75px;
  font-weight: 700;
  letter-spacing: 5%;
  text-align: center;
  text-transform: uppercase;

  display: block;

  background: #00B2FF;

  border-radius: 5px;

  padding: 17px 0 14px;
  margin: 0 0 0 98px;
  box-sizing: border-box;

  @include tablet {
    width: 379px;

    margin: 0 0 0 51px;
  }

  @include mobile {
    display: none;
  }

  &:hover {
    box-shadow: 0 0 10px 5px currentColor;
  }
}

.header__main-info-button-mobile {
  display: none;

  @include mobile {
    width: 287px;
    height: 55px;

    font-size: 16px;
    line-height: 18.75px;
    font-weight: 700;
    letter-spacing: 5%;
    text-align: center;
    text-transform: uppercase;

    display: block;

    background: #00B2FF;

    border-radius: 5px;

    padding: 17px 0 14px;
    margin: 0 0 0 3px;
    box-sizing: border-box;
  }
}

.header__main-picture {
  width: 36.72%;

  @include mobile {
    width: 100%;

    padding: 0 0 0 6px;
    margin: 0 0 4px;
  }
}

.header__main-picture img {
  width: 100%;
  height: 515px;

  @include tablet {
    height: auto;
  }

  @include mobile {
    height: 220px;

    display: block;

    margin: 0 auto;
  }
}
